.mediaViewInfo {
    --web-view-name: Login Artboard;
    --web-view-id: Login_Artboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Login_Artboard;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Login_Artboard {
    position: absolute;
    width: 1920px;
    height: 1080px;
    min-height:100%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Login Artboard;
    --web-view-id: Login_Artboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Group_3 {
    position: absolute;
    width: 1059.337px;
    height: 1189.09px;
    left: -34.668px;
    top: 64.44px;
    overflow: visible;
}
#gradient__n {
    fill: url(#gradient__n);
}
.gradient__n {
    overflow: visible;
    position: absolute;
    width: 1026.397px;
    height: 1151.888px;
    left: 24.94px;
    top: 11.56px;
    transform: matrix(1,0,0,1,0,0);
}
#gradient2_p {
    fill: url(#gradient2_p);
}
.gradient2_p {
    overflow: visible;
    position: absolute;
    width: 1059.337px;
    height: 1189.09px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#log_in_group {
    position: absolute;
    width: 476px;
    height: 229.047px;
    left: 1164.242px;
    top: 310.953px;
    overflow: visible;
}
#fullname_group {
    position: absolute;
    width: 461.52px;
    height: 53px;
    left: 0.48px;
    top: 0px;
    overflow: visible;
}
#fullname_rectangle {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.fullname_rectangle {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 480.52px;
    height: 72px;
    left: 0px;
    top: 0px;
}
#Username_or_email {
    opacity: 0.6;
    left: 20px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#email_group {
    position: absolute;
    width: 461.52px;
    height: 53px;
    left: 0.48px;
    top: 89px;
    overflow: visible;
}
#email_rectangle {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.email_rectangle {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 480.52px;
    height: 72px;
    left: 0px;
    top: 0px;
}
#Password {
    opacity: 0.6;
    left: 20px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#log_in_button_Group_ {
    position: absolute;
    width: 238px;
    height: 51px;
    left: 0px;
    top: 178.047px;
    overflow: visible;
}
#log_in_Rectangle {
    fill: rgba(210,50,40,1);
}
.log_in_Rectangle {
    position: absolute;
    overflow: visible;
    width: 238px;
    height: 51px;
    left: 0px;
    top: 0px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Main_Artboard.html;
    cursor: pointer;
}
#log_in {
    left: 93.117px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,253,254,1);
}
#sign_in_button_Group_ {
    position: absolute;
    width: 238px;
    height: 51px;
    left: 238px;
    top: 178.047px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Forget_Password_Artboard.html;
    cursor: pointer;
}
#sign_inRectangle {
    fill: rgba(255,255,255,1);
}
.sign_inRectangle {
    position: absolute;
    overflow: visible;
    width: 238px;
    height: 51px;
    left: 0px;
    top: 0px;
}
#Forget_password {
    left: 41px;
    top: 12.5px;
    position: absolute;
    overflow: visible;
    width: 157px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#techCourse_Text_group {
    position: absolute;
    width: 196px;
    height: 61px;
    left: 80px;
    top: 131px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Main_Artboard.html;
    cursor: pointer;
}
#tech_Rectangle__ {
    fill: url(#tech_Rectangle__);
}
.tech_Rectangle__ {
    overflow: visible;
    position: absolute;
    width: 98px;
    height: 61px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#techCourse {
    left: 33px;
    top: 10px;
    position: absolute;
    overflow: visible;
    width: 164px;
    height: 41px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#title_group {
    position: absolute;
    width: 305px;
    height: 439px;
    left: 190px;
    top: 280px;
    overflow: visible;
}
#Start__Learning_With_techCours {
    left: 30px;
    top: 87.91px;
    position: absolute;
    overflow: visible;
    width: 276px;
    white-space: nowrap;
    line-height: 63px;
    margin-top: -6.5px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.3px;
}
#Path_1 {
    filter: blur(27px);
    fill: rgba(0,0,0,0);
    stroke: rgba(171,13,2,1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-dasharray: 11;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 22px;
    height: 461px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#gradient_rectangle_upper_bb {
    fill: url(#gradient_rectangle_upper_bb);
}
.gradient_rectangle_upper_bb {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#reg__log_in__work_with_us_grou {
    position: absolute;
    width: 462.681px;
    height: 38.313px;
    left: 1165.242px;
    top: 236px;
    overflow: visible;
}
#line_bottm_reg_and_log_in {
    opacity: 0.45;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.line_bottm_reg_and_log_in {
    overflow: visible;
    position: absolute;
    width: 462.683px;
    height: 2px;
    left: 0px;
    top: 37.313px;
    transform: matrix(1,0,0,1,0,0);
}
#line_bottom_register {
    fill: rgba(0,0,0,0);
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.line_bottom_register {
    overflow: visible;
    position: absolute;
    width: 129.45px;
    height: 2px;
    left: 148.874px;
    top: 38.313px;
    transform: matrix(1,0,0,1,0,0);
}
#register_text {
    left: 25.44px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Register_Artboard.html;
    cursor: pointer;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(112,112,112,1);
}
#log_in_text {
    left: 181.099px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(1,0,0,1);
}
#Work_with_us {
    left: 317.758px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(112,112,112,1);
}
