{% extends "basehtml.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block title %}
change password successfully
{% endblock %}



{% block body %}
<div class="page-content d-flex align-items-center">
    <div class="container d-flex justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <div class="auth-card">
          <div class="logo-area">
            <!-- Light-Theming Logo: -->
            <a href="{% url 'main' %}"><img id="header_logo" class="logo" src="{% static '/image/techCourse Logo.png' %} " /></a>
          </div>
          <h5 class="auth-title">TechCourse change password Page</h5>
          <hr class="separator">
          <!-- Login-Form-->
            <div class="col">
            <h1 class="tex-success">password change successfully</h1>
            <hr>
            <p>your password was changed</p>
            </div>
          <p class="text mb-4">back? <a href="{% url 'logout' %}" class="text-link">login</a></p>
          <div class="row">
            {% if messages %}
            {% for message in messages %}
              <p style="color: red;">{{message}}</p>
            {% endfor %}
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

