{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}


{% block style %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link href="{% static '/assets/css/google-f.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/templatemo-edu-meeting.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/owl.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/lightbox.css' %}">
{% endblock %}

{% block title %}
All Course
{% endblock %}

{% block content %}

<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Here are our Categories</h6>
        <h2>All Courses</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="filters">
          <ul>
            <li data-filter="*"  class="active">All course</li>
            <li data-filter=".soon">Soon</li>
            <li data-filter=".imp">Important</li>
            <li data-filter=".att">Attractive</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            
            <div class="row grid">
              {% for course in result %}
              <div class="col-lg-4 templatemo-item-col all soon">
                <div class="meeting-item">
                  <div class="thumb">
                    <div class="price">
                      <span>${{course.price}}</span>
                    </div>
                    <a href="{% url 'course' course.id %}" role="button">
                      {% if course.course_pic %}
                      <img src="{{course.course_pic.url}}" alt="Online Teaching" style="width: 377.5px;height:200px;">
                      {% else %}
                      <img src="{% static '/image/Join Us Section.png' %} " >
                      {% endif %}
                    </a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      <h6>{{course.datepublished|date:"F"}}<span>{{course.datepublished|date:"d"}}</span></h6>
                    </div>
                    <a href="{% url 'course' course.id %}"><h4>{{course.name}}</h4></a>
                    <p>{{course.title}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
           
          </div>

          <div class="col-lg-12">
            {% if result.has_other_pages %}
            <div class="pagination">
              <ul>
                {% if result.has_previous %}
                <li><a href="?page={{ result.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in result.pagination.page_range %}
                  {% if result.number == i %}
                  <li class="active"><span>{{ i }}</span></li>
                  {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if result.has_next %}
                  <li><a href="?page={{ result.next_page_number }}">&raquo;</a></li>
                {% else }
                 <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2022 www.techcoursescu.com 
        <br>
        Contact Us: <a href="{% url 'main' %}" target="_parent" title="free css templates">Contact Us</a>
        <br>
        All Courses: <a href="{% url 'allcourse' %}" target="_blank" title="Build Better UI, Faster">All Courses</a>
      </p>
  </div>
</section>

{% endblock %}

{% block js %}
</body>
<script type="text/javascript" src="{% static '/vendor/jquery/jquery.min.js'}"></script>
<script type="text/javascript" src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/isotope.min.js'}"></script>
<script type="text/javascript" src="{% static '/assets/js/owl-carousel.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/lightbox.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/tabs.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/video.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/slick-slider.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/custom.js'}"></script>

<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
      direction = section.replace(/#/, ''),
      reqSection = $('.section').filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos },
        800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
        $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
          currentId = $this.data('section'),
          reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
          siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
</script>
{% endblock %}

