{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}
{% load urlfy %}

{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link href="{% static '/assets/css/google-f.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/templatemo-edu-meeting.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/owl.css' %}">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/assets/css/lightbox.css' %}">
{% endblock %}

{% block title %}
    Course Details
{% endblock %}

{% block content %}
  <!-- Sub Header -->
 
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details of courses</h6>
          <h2>{{course.name}}</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>${{course.price}}</span>
                  </div>
                  <div class="date">
                    <h6>{{course.datepublished|date:"F"}} <span>{{course.datepublished|date:"d"}}</span></h6>    
                    </div>
                    {% if course.course_pic %}
                    <a href="#"><img src="{{course.course_pic.url}}" alt=""></a>
                    {% else %}
                    <a href="#"><img src="{% static '/assets/images/single-meeting.jpg' %}" alt=""></a>
                    {%endif%}
                  
                </div>
                <div class="down-content">
                  <a href="#"><h4>{{course.title}}</h4></a>
                  <p class="description">
                    {{course.subTittel}}
                       </p>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Duration</h5>
                        <p>{{course.duration}}</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>Teacher</h5>
                        {% for teacher in course.teacher.all%}
                          <P>{{teacher.user.get_full_name}}</P>
                        {% endfor %}
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="share">



                        <h5>Download The Course:</h5>
                        <ul>
                          {% if user.is_authenticated %}
                          {%if user.customer %}
                            {% if user.customer.course.all|in_course:course.id %}
                            <li> 
                              {% if course.fileZip %}
                              <a href="{{course.fileZip.url}}">
                                {% endif %}
                              <button style="background-color: #a12c2f;border-radius: 22px;color:white ;border: none;">All Of Videos</button></a></li>

                            {% else %}
                            <li><a href="#"><button style="background-color: #a12c2f;border-radius: 22px;color:white ;border: none;">Buy Course</button></a></li>

                            {% endif %}
                          {%endif%}

                          {%if user.teacher %}
                            {% if user.teacher.course.all|in_course:course.id %}
                            <li>
                              {% if course.fileZip %}
                              <a href="{{course.fileZip.url}}">
                                {% endif %}
                              <button style="background-color: #a12c2f;border-radius: 22px;color:white ;border: none;">All Of Videos</button></a></li>

                            {% else %}
                            <li><a href="#"><button style="background-color: #a12c2f;border-radius: 22px;color:white ;border: none;">Buy Course</button></a></li>

                            {% endif %}
                          {%endif%}

                        {% else %}
                        <p> you need login first</p>
                        {% endif %}
                          <!-- <li><a href="#"><button style="background-color: #a12c2f;border-radius: 22px;color:white ;border: none;">All Of Videos</button></a></li> -->
                          <li><a href="#"><button style="background-color: #a12c2f;border-radius: 22px;color:white ;border: none;">Buy Course</button></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url 'allcourse' %}">Back To course List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 www.techcoursescu.com 
          <br>
          Contact Us: <a href="#main.html" target="_parent" title="free css templates">Contact Us</a>
          <br>
          All Courses: <a href="#categories.html" target="_blank" title="Build Better UI, Faster">All Courses</a>
          </p>
      </div>
  </section>
  {% endblock %}

  {% block js %}
  <script type="text/javascript" src="{% static '/vendor/jquery/jquery.min.js'}"></script>
<script type="text/javascript" src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/isotope.min.js'}"></script>
<script type="text/javascript" src="{% static '/assets/js/owl-carousel.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/lightbox.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/tabs.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/video.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/slick-slider.js'}"></script>

<script type="text/javascript" src="{% static '/assets/js/custom.js'}"></script>

  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>
  {% endblock %}