{% extends 'basehtml.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/css/loginstyle.css' %}">
{% endblock %}

{% block title %}
	login
{% endblock %}

{%block body%}
 <div class="main" style="background-color:#0F2027;">
	<!-- Sign up form -->
	<section class="sign-in">
		<div class="container" style="background-color:#2C5364;">
			<div class="signin-content">
				<div class="signin-image">
					<figure><img src="{% static '/image/Mobile login-cuate.png' %}" alt="sing up image"></figure>
				</div>
				<div class="signin-form">
					<h2 class="form-title"><strong style="color: white">Login</strong></h2>
					<form method="POST" class="register-form" id="login-form">
						{% csrf_token %}
						<div class="form-group">
							<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
							<input type="text" name="username" id="your_name" placeholder="Your Name"/>
						</div>
						<div class="form-group">
							<label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
							<input type="password" name="password" id="your_pass" placeholder="Password"/>
						</div>
						<div class="form-group form-button">
							<input type="button" name="signin" id="signin" class="form-submit" value="Log in"style="background-color: #D23228;"/></br>
                            <input type="button" name="signin" id="signin" class="form-submit" value="create account"style="background-color: #D23228;"/>
						</div>
                    </form>
				</div>
				</div>
			</div>
			<div class="row">
				{% if messages %}
		        {% for message in messages %}
					<p id="errorClass">{{message}}</p>
		        {% endfor %}
	        {% endif %}
			</div>
		</div>
	</section>
 </div>	
{% endblock %}