{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main Artboard</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/mainpagestyle.css' %}">

	<head>

	<body>
		<form method="GET">
			<div id="Main_Artboard">
				<svg class="Path_11_m" viewBox="2067.571 3069.041 1377.962 759.459">
					<linearGradient id="Path_11_m" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
						<stop offset="0" stop-color="#0f2027" stop-opacity="1"></stop>
						<stop offset="0.5021" stop-color="#203a43" stop-opacity="1"></stop>
						<stop offset="1" stop-color="#2c5364" stop-opacity="1"></stop>
					</linearGradient>
					<path id="Path_11_m"
						d="M 2732.5 3828.5 L 2067.57080078125 3828.5 L 2067.57080078125 3069.040771484375 L 3445.532958984375 3069.040771484375 L 2732.5 3828.5 Z">
					</path>
				</svg>
				<svg class="Path_10" viewBox="3701.706 2954 539.391 109.397">
					<path id="Path_10"
						d="M 4241.0966796875 2954 L 4241.0966796875 3063.3974609375 L 3701.7060546875 3063.3974609375 L 3802.611328125 2954 L 4241.0966796875 2954 Z">
					</path>
				</svg>
				<svg class="Line_4" viewBox="0 0 825 880">
					<path id="Line_4" d="M 825 0 L 0 880">
					</path>
				</svg>
				<svg class="Path_7_q" viewBox="2620.659 3158.264 873.284 12">
					<linearGradient id="Path_7_q" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
						<stop offset="0" stop-color="#ab0d02" stop-opacity="1"></stop>
						<stop offset="1" stop-color="#560701" stop-opacity="1"></stop>
					</linearGradient>
					<path id="Path_7_q"
						d="M 2620.65869140625 3170.263671875 L 2637.706787109375 3158.263671875 L 3493.94287109375 3158.263671875 L 3477.841064453125 3170.263671875 L 2620.65869140625 3170.263671875 Z">
					</path>
				</svg>
				<svg class="Path_12" viewBox="0 0 8 554.556">
					<path id="Path_12" d="M 0 0 L 0 554.556396484375">
					</path>
				</svg>
				<svg class="Line_1" viewBox="0 0 8 555">
					<path id="Line_1" d="M 0 0 L 0 555">
					</path>
				</svg>
				<img id="Mathematics-cuate" src="{% static '/image/Mathematics-cuate.png' %}">
				<a id="Mathematics-cuate" srcset="Mathematics-cuate.png 1x, Mathematics-cuate@2x.png 2x"
					href="https://storyset.com/education"></a>
				<div id="Start__Learning_With__techCour">
					<span>Start </span><br /><span style="color:rgba(171,13,2,1);">Learning</span><br /><span>With
					</span><br /><span style="color:rgba(171,13,2,1);">tech</span><span
						style="color:rgba(255,199,39,1);">Course</span>
				</div>
				<div id="Toolbar_Group">
					<svg class="Toolbar_white_side">
						<rect id="Toolbar_white_side" rx="0" ry="0" x="0" y="0" width="1920" height="110">
						</rect>
					</svg>
					{% if user.is_authenticated %}
					<div class="Rectangle_10" id="Rectangle_10" width="358" height="76">
						<p style="color: crimson;">Welcome, {{ user.get_username }}. Thanks for logging in.</p>
					</div>

					<div onclick="application.goToTargetView(event)" id="Log_in_group">
						<div id="Log_in">
							<input id="Log_in_group" id="Log_in" type="button" />
							<a href="{% url 'logout' %}" style="font:Segoe UI;font-size:x-large;"> <button
									type="button">
									logout
								</button> </a>

						</div>
						<svg class="Rectangle_5_">
							<linearGradient id="Rectangle_5_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
								<stop offset="0" stop-color="#ab0d02" stop-opacity="1"></stop>
								<stop offset="1" stop-color="#560701" stop-opacity="1"></stop>
							</linearGradient>
							<rect id="Rectangle_5_" rx="0" ry="0" x="0" y="0" width="94" height="4">
							</rect>
						</svg>
					</div>

					{% else %}

					<button>
						<div onclick="application.goToTargetView(event)" id="Log_in_group">
							<div id="Log_in">
								<a href="{% url 'login' %}"
									style="font:Segoe UI;font: size 30px;text-decoration: none;color: black;">Login</a>
							</div>
							<svg class="Rectangle_5_">
								<linearGradient id="Rectangle_5_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
									<stop offset="0" stop-color="#ab0d02" stop-opacity="1"></stop>
									<stop offset="1" stop-color="#560701" stop-opacity="1"></stop>
								</linearGradient>
								<rect id="Rectangle_5_" rx="0" ry="0" x="0" y="0" width="94" height="4">
								</rect>
							</svg>
						</div>
					</button>


					<div id="work_with_us_group">
						<div id="Work_with_us">
							<span for="work">Work with us</span>
							<input id="work" id="work_with_us_group" id="Work_with_us" type="button" />

						</div>
						<svg class="Rectangle_9_">
							<linearGradient id="Rectangle_9_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
								<stop offset="0" stop-color="#ab0d02" stop-opacity="1"></stop>
								<stop offset="1" stop-color="#560701" stop-opacity="1"></stop>
							</linearGradient>
							<rect id="Rectangle_9_" rx="0" ry="0" x="0" y="0" width="170" height="4">
							</rect>
						</svg>
					</div>
					<button>
						<div onclick="application.goToTargetView(event)" id="register_group">
							<svg class="Rectangle_4_z">
								<linearGradient id="Rectangle_4_z" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
									<stop offset="0" stop-color="#0f2027" stop-opacity="1"></stop>
									<stop offset="0.5021" stop-color="#203a43" stop-opacity="1"></stop>
									<stop offset="1" stop-color="#2c5364" stop-opacity="1"></stop>
								</linearGradient>
								<rect id="Rectangle_4_z" rx="7" ry="7" x="0" y="0" width="117" height="54">
								</rect>
							</svg>
							<div id="Register">
								<a href="{% url 'register' %}"
									style="font:Segoe UI;font: size 30px;text-decoration: none;color: white;">Register</a>
							</div>
						</div>
					</button>



					{% endif %}





					<img id="logo" src="{% static '/image/techCourse Logo.png' %}"
						srcset="techCourse Logo 1x, logo@2x.png 2x">
					<svg class="Line_Toolbar" viewBox="0 0 117 125">
						<path id="Line_Toolbar" d="M 117 0 L 0 125">
						</path>
						<input id="logo" class="Line_Toolbar" id="Line_Toolbar" type="submit" />
					</svg>
					<svg class="gradient_rectangle_toolbar_bc">
						<linearGradient id="gradient_rectangle_toolbar_bc" spreadMethod="pad" x1="0" x2="1" y1="0.5"
							y2="0.5">
							<stop offset="0" stop-color="#ab0d02" stop-opacity="1"></stop>
							<stop offset="0.2476" stop-color="#d13228" stop-opacity="1"></stop>
							<stop offset="0.5354" stop-color="#002121" stop-opacity="1"></stop>
							<stop offset="0.8501" stop-color="#03c7e8" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#caf3f6" stop-opacity="1"></stop>
						</linearGradient>
						<rect id="gradient_rectangle_toolbar_bc" rx="0" ry="0" x="0" y="0" width="1920" height="19">
						</rect>
					</svg>
				</div>
			</div>
		</form>
	</body>

</html>