{% extends 'basehtml.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static '/css/loginstyle.css' %}">
{% endblock %}

{% block title %}
	Register
{% endblock %}

{%block body%}
	<div class="main" style="background-color:0dcaf0;">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title"><strong>Register</strong></h2>
                        <form method="POST" class="register-form" id="register-form">
							{% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi material-icons-name"></i></label>
                                {% render_field form.first_name type="name" class="form-group"  placeholder="name" %}

                            </div>
                            <div class="form-group">
                                <label for="last_name"><i class="zmdi material-icons-name"></i></label>
                                {% render_field form.last_name type="name" class="form-group"  placeholder="last name" %}

                            </div>
							<div class="form-group">
                                <label for="username"><i class="zmdi"></i></label>
                                {% render_field form.username type="name" class="form-group" id="username" placeholder="Username" %}
                               
                            </div> 
                            <div class="form-group">
                                <label for="email"><i class="zmdi"></i></label>
                                {% render_field form.email type="email" class="form-group" id="email" placeholder="Email" %}
                                
                            </div>

                            <div class="form-group">
                                <label for="pass"><i class="zmdi"></i></label>
                                {% render_field form.password1 type="password" class="form-group" id="pass" placeholder="Password" %}

                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi"></i></label>
                                {% render_field form.password2 type="password" class="form-group" id="re_pass" placeholder="Repeat your password" %}

                            </div>
                            <div class="form-group">
                                {% render_field form.agree type="checkbox" class="agree-term" id="agree-term"%}
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" style="background-color: #0dcaf0;"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static '/image/signup-image.jpg' %}" alt="sing up image"></figure>
                        <!-- test -->
                        <a href="{% url 'login' %}" class="signup-image-link" role="button" style="text-decoration: none;color: black;">I am already member</a>
						    {% if form.errors %}
       							{% for field in form %}
           							{% for error in field.errors %} 
				   						<p style="color:red">{{error}}</p>
           							{% endfor %}
       							{% endfor %}
    						{% endif %}
                    </div>
                </div>
			</div>
		</section>
	</div>
{% endblock %}
