{% extends 'basehtml.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static '/css/rootstyle.css' %}">
{% endblock %}

{% block body %}

<div class="container-fluid my-container">
    <div class="row">
        {% include "navbar.html" %}
    </div>
    <div class="row" >
        <div class="col" id="mine_gradient"></div>
    </div>
    <div class="row">
        {% block content %}

        {% endblock %}
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
